*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo{
    height: 800px;
    background: url("../img/main_bg.jpg") center center / cover no-repeat;
    padding: 40px 0 65px 0;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 15px;
}
h1{
    margin-top: 55px;
}
.title{
    font-weight: 300;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;

}
h2.title{
    margin-top: 21px;
}
.simple .title_big{
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}
.promo .promo_text{
    padding: 0 13px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.promo .promo_text span{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #F9BF3B;
}
.promo .promo_button, .gift .gift_main .gift_button{
    display: block;
    margin: 0px auto;
    margin-top: 75px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.more .more_text{
    margin-top: 70px;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.more img{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.waiting{
    min-height: 607px;
    background: #EFEFEF;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header, .finish .finish_header{
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.finish .finish_header{
    color: white;
}

.waiting .waiting_divider, .finish .finish_divider{
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 20px;
}
.waiting .waiting_subheader{
    font-style: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 20px;
}
.waiting .waiting_wrapper{
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    width: 340px;
}
.waiting .waiting_wrapper .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_descr{
    margin-top: 35px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
}
.optimization{
    min-height: 550px;
    padding: 110px 0 75px 0;
}

.optimization .optimization_header{
    margin-left: 390px;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    color: #299CBD;
}
.optimization .optimization_text{
    margin-left: 390px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimization .optimization_text span{
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimization .optimization_img{
    position: absolute;
    top: -50px;
    left: -240px;
    z-index: -1;
}

p{
    margin-top: 25px;
}
.finish{
    min-height: 450px;
    padding: 90px 0 90px 0;
    background: url("../img/second_bg.jpg") center center/cover no-repeat;
}
.finish .finish_wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 205px;
}
.finish .finish_wrapper .finish_item .finish_round{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item img{
    width: 65px;
    height: 65px;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;

}
.gift{
    min-height: 630px;
    background: #EFEFEF;
    padding: 90px 0 90px 0;
}
.gift .gift_main .gift_img{
    display: block;
    margin: 0 auto;   
}
.gift .gift_main .gift_descr{
    margin-top: 50px;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}
.gift_button{
    margin-top: 50px;
}
.vebinar{
    min-height: 510px;
    padding: 80px 0 55px 0;
}
.vebinar .vebinar_img{
    display: block;
    margin: 0 auto;
}
.vebinar .vebinar_first{
    margin-top: 35px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.vebinar .vebinar_date{
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}
.vebinar .vebinar_descr{
    margin-top: 25px;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}
footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 60px 0 70px 0;
}

.info {
    margin: 0 auto;
    width: 375px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}